.supportersContainer {
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
}

.headContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.supportersTitle {
  color: #353535;
  font-size: 3em;
}

.githubHelp {
  display: inline-flex;
  align-items: center;
}

.helpText {
  color: #353535;
  font-size: 1.5em;
  margin-right: 1em;
}

.supportersImagesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.supporter {
  flex: 0 0 33.333333%;
  padding: 20px;
  width: 150px;
  height: 150px
}