.header {
  z-index: 1;
  position: sticky;
  top: 0;
  height: 105px;
  width: 100%;
  background: rgba(0, 0, 0);
  display: flex;
  justify-content: space-around;
}

.headerTitle {
  align-self: center;
  max-height: 50px;
  max-width: 40%;
}
