.header {
  z-index: 1;
  position: fixed;
  top: 0;
  height: min(105px, 20vh);
  width: 100%;
  background: var(--color-black);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerTitle {
  align-self: center;
  max-height: 50px;
  max-width: 40%;
}
