.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.iframeContainer {
  width: 100%;
  text-align: center;
  border: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

.title {
  margin-left: 50px;
  font-size: 4.5em;
  color: #353535;
}

.red {
  color: #EC1C24;
}

.poweredBy {
  width: 90%;
  text-align: right;
  margin-top: 0.2em;
  font-size: 0.7em;
}