.menuText {
  color: #FFFFFF;
  font-family: "Inter";
  font-size: 1em;
  letter-spacing: 0;
  text-align: center;
}

.menuItem {
  position: relative;
  list-style-type: none;
  margin: 5px;
  padding: 0;
  flex: 1 1 0px;
}

.menuText:hover {
  font-weight: bold;
}
