.button {
  text-align: center;
  display: flex;
  background-color: #D1151A;
  font-size: 1em;
  color: #FFFFFF;
  border: none;
  height: 4em;
  width: 12em;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
}

.button:hover {
  background-color: #91151A;
}

.arrow {
  height: 1.5em;
  width: 1.5em;
}
