.helpedSaveHeader {
  display: flex;
  margin: 0;
  background-color: #8F0E13;
  width: 100%;
  padding: 60px;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bolder;
}